[Unit]
Description=Update yggdrasil peers

After=network-online.target
Wants=network-online.target

[Timer]
OnBootSec=20m
OnUnitActiveSec=60m
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
